ion-card-content {
  text-align: center;
}

img {
  height: 250px;
  width: 300px;
  border-radius: 10%;
}

ion-card-title {
  margin-bottom: 10px;
}

ion-searchbar {
  background-color: white;
}

ion-card {
  margin: 8px;
}

span {
  font-weight: 800;
}

h1,
h2 {
  text-align: center;
}

h1 {
  padding: 10px;
}

h2 {
  margin-bottom: 20px;
  border-radius: 80%;
}

hr {
  background-color: white;
}

ion-chip {
  padding-left: 0;
}

ion-label {
  padding-top: 20px;
}
