ion-chip {
  padding-left: 0;
}

h1 {
  text-align: center;
}

h2 {
  margin: 10px 0;
}

p {
  text-align: justify;
}

ion-button {
  margin-top: 20px;
}

ion-item {
  margin-left: 0;
  padding-left: 0;
}
